body {
  text-align: left;
  margin	: 10px;
}

h1 {
  text-align: center;
}

.resetButton{
  float: right;
}
  
table{
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

td{
  border-style: solid;
  border-width: 2px;
  height: 5em;
  width: 5em;
}

td.empty{
  border-color: black;
}
td.empty.hovered{
  background-color: gray;
}
td.player0{
  border-color: yellow;
  background-color: yellow;
}
td.player0.hovered{
  border-color: rgb(160, 160, 2);
  background-color: rgb(160, 160, 2);
}
td.player1{
  border-color: rgb(231, 72, 72);
  background-color: rgb(231, 72, 72);
}
td.player1.hovered{
  border-color: rgb(124, 1, 1);
  background-color: rgb(124, 1, 1);
}